@use './variables.scss' as *;
@import './variables.scss';

@media (max-width: 768px) {
  .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .menu-item {
      width: 100%;
      text-align: center;
  }
  .photo__gallery .row {
    display: flex;
    flex-wrap: wrap;
}
.photo__gallery .col-sm-4 {
    width: 100%; 
}
}

body.photo {
  font-family: $font-family-main;
  color: $color-accent;
  @include gradient-bg;
  margin: 0;
  padding: 0;
}

.photo__header {
  background-color: $color-secondary;
  padding: 20px 0;

  .photo__title {
    color: $color-light;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
  }
}

.photo__gallery {
  padding: 40px 0;

  .photo__card {
    background-color: $color-light;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    @include box-shadow;
    margin-bottom: 20px;

    .photo__image {
      border-radius: 5px;
      width: 100%;
      height: auto;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    .photo__caption {
      margin-top: 10px;
      font-size: 1.2rem;
      color: $color-accent;
    }
  }
}

.photo__footer {
  background-color: $color-secondary;
  padding: 20px 0;

  .photo__link {
    color: $color-light;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      color: $color-accent;
    }
  }
}
